<h2>New Post</h2>

<form action="/posts" method="post" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="post[content]">Content:</label>
  <input name="post[content]">


  <input type="submit" value="Create">
</form>
