<h2><%= @post.content %> <%= link_to "(edit)", edit_post_path(@post) %></h2>
<h3>Comment <%= link_to "(+)", new_post_comment_path(@post) %></h3>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %>
    </li>
  <% end %>
</ul>
